---
import { Image } from 'astro:assets'
import Layout from '../layouts/MainLayout.astro'
import LogoutIcon from '../components/icons/LogoutIcon.astro'
import InfoCircleIcon from '../components/icons/InfoCircleIcon.astro'
import ExpandingBadge from '../components/ExpandingBadge.astro'
import { getLatestTodo, getStatusTodos } from '../todo'
import { transformDate } from '../helpers'

const name = 'Abraham Hernandez Q'

const latestTodo = await getLatestTodo()

const { completedTodos, incompleteTodos, totalTodos } = await getStatusTodos()
---

<Layout>
	<div class="min-h-screen flex justify-center items-center">
		<div class="w-10/12">
			<div class="flex flex-row">
				<div
					class="bg-secondary text-secondary shadow-inner shadow-primary rounded-xl w-7/12 mr-2 p-6">
					<p class="text-5xl">
						Bienvenido señor <br />
						<strong class="text-primary">{name}</strong>
					</p>
					<div class="mt-12 flex gap-4">
						<a class="btn btn-gray" href="/profile">Ir a mi Perfil</a>
					</div>
				</div>

				{
					latestTodo.ok ? (
						<div class="flex flex-col justify-between bg-secondary text-primary shadow-inner shadow-primary rounded-xl w-5/12 ml-2 p-6">
							<p class="text-2xl font-semibold">Tu ultima tarea</p>

							<a
								href={`/todo/update/${latestTodo.todo.id}`}
								class="flex flex-col shadow-2xl bg-tertiary/10 hover:bg-tertiary/15 transition-colors backdrop-blur-lg rounded-xl p-4">
								<p class="text-xl font-semibold">{latestTodo.todo.title}</p>
								<p class="text-base line-clamp-2 max-h-[3rem] h-[3rem] overflow-hidden">
									{latestTodo.todo.description}
								</p>
								<span class="text-primary/80 self-end mt-2">
									{transformDate(latestTodo.todo.updated_at)}
								</span>
							</a>
						</div>
					) : (
						<div class="flex flex-col justify-between bg-secondary text-primary shadow-inner shadow-primary rounded-xl w-5/12 ml-2 p-6">
							<div>
								<p class="text-2xl font-semibold">Tu ultima tarea</p>
								<p>Al parecer no tienes tareas por completar</p>
							</div>

							<Image
								src="/to-do-list.webp"
								alt=""
								width={100}
								height={100}
								class="w-20 aspect-auto ml-5"
							/>
						</div>
					)
				}
			</div>
			<div class="flex flex-row mt-6">
				<div
					class="flex flex-col justify-between items-center bg-secondary shadow-inner shadow-primary rounded-xl px-6 py-4 w-4/12 gap-5">
					<p class="font-semibold text-2xl text-primary">Lista de tareas</p>

					<div
						class="flex flex-col items-center text-center text-secondary gap-2">
						<div class="flex gap-2">
							<div
								class="rounded-md bg-[#2b2b2b] shadow-inner shadow-[#c0c0c060] p-3">
								<span class="text-primary font-black">{incompleteTodos}</span>
								<p class="font-semibold">Incompletas</p>
							</div>
							<div
								class="rounded-md bg-[#2b2b2b] shadow-inner shadow-[#c0c0c060] p-3">
								<span class="text-primary font-black">{completedTodos}</span>
								<p class="font-bold">Completadas</p>
							</div>
						</div>
						<div
							class="rounded-md bg-[#2b2b2b] shadow-inner shadow-[#c0c0c060] w-full py-2">
							<div class="">
								<span class="text-primary font-black">{totalTodos}</span>
								<p class="font-semibold">Tareas Totales</p>
							</div>
						</div>
					</div>

					<a class="btn btn-gray" href="/todo/list">Ver todas las tareas</a>
				</div>
				<div
					class="flex flex-col justify-between items-center bg-secondary shadow-inner shadow-primary rounded-xl mx-6 px-6 py-4 w-4/12">
					<p class="font-semibold text-2xl text-primary">Agregar un tarea</p>

					<Image src="/list-image.webp" alt="asdf" width={140} height={140} />

					<a class="btn btn-gray" href="/todo/new">Nueva Tarea</a>
				</div>
				<div
					class="bg-secondary shadow-inner shadow-primary rounded-xl text-secondary w-4/12 flex flex-col gap-2 justify-center items-center">
					<h1 class="text-5xl font-extrabold text-primary">TODO - APP</h1>
					<p class="text-2xl">Hecho por el q y siac</p>
					<p class="text-2xl">Proyecto Fénix</p>
				</div>
			</div>
		</div>
	</div>
</Layout>
